.title {
  width: min(100% - 3rem, 70ch);
  margin-inline: auto;
}

.tags {
  width: min(100% - 3rem, 97ch);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
}

.line {
  width: min(100% - 3rem, 97ch);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  align-self: center;
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markdown {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  font-size: var(--fs-1);
  line-height: 1.6;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.markdown > * + * {
  margin-top: var(--flow-space, 1em);
}

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.markdown h1 {
  font-size: var(--fs-5);
  font-weight: 700;
}

.markdown h2 {
  font-size: var(--fs-4);
  font-weight: 600;
}

.markdown h3 {
  font-size: var(--fs-3);
  font-weight: 500;
}

.markdown h4 {
  font-size: var(--fs-2);
  font-weight: 500;
}

.markdown h5 {
  font-size: var(--fs-1);
  font-weight: 500;
}

.markdown h6 {
  font-size: var(--fs-0);
  font-weight: 500;
}

.markdown pre code {
  font-size: var(--fs-0);
  line-height: 1.4;
  background-color: transparent;
  padding: 0;
}

.markdown code {
  font-size: var(--fs--1);
  line-height: 1.4;
  padding: 1px 4px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}
