:root {
  --fs--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --fs--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --fs-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-1: clamp(1.35rem, calc(1.3rem + 0.26vw), 1.5rem);
  --fs-2: clamp(1.62rem, calc(1.56rem + 0.31vw), 1.8rem);
  --fs-3: clamp(1.94rem, calc(1.87rem + 0.38vw), 2.16rem);
  --fs-4: clamp(2.33rem, calc(2.24rem + 0.45vw), 2.59rem);
  --fs-5: clamp(2.8rem, calc(2.69rem + 0.54vw), 3.11rem);
}

.title {
  width: min(100% - 3rem, 70ch);
  margin-inline: auto;
}

.line {
  width: min(100% - 3rem, 97ch);
  height: 1px solid;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  align-self: center;
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markdown {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  font-size: var(--fs-1);
  line-height: 1.6;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.markdown > * + * {
  margin-top: var(--flow-space, 1em);
}

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.markdown h1 {
  font-size: var(--fs-5);
  font-weight: 700;
}

.markdown h2 {
  font-size: var(--fs-4);
  font-weight: 600;
}

.markdown h3 {
  font-size: var(--fs-3);
  font-weight: 500;
}

.markdown h4 {
  font-size: var(--fs-2);
  font-weight: 500;
}

.markdown h5 {
  font-size: var(--fs-1);
  font-weight: 500;
}

.markdown h6 {
  font-size: var(--fs-0);
  font-weight: 500;
}

.markdown pre code {
  font-size: var(--fs-0);
  line-height: 1.4;
  background-color: transparent;
  padding: 0;
}

.markdown code {
  font-size: var(--fs--1);
  line-height: 1.4;
  padding: 1px 4px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}
