body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: white;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Graphik";
    src: local("Graphik Extralight"), local("Graphik-Extralight"),
      url("/public/fonts/Graphik-Extralight.woff2") format("woff2"),
      url("/public/fonts/Graphik-Extralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Bold"), local("Graphik-Bold"),
      url("/public/fonts/Graphik-Bold.woff2") format("woff2"),
      url("/public/fonts/Graphik-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Light"), local("Graphik-Light"),
      url("/public/fonts/Graphik-Light.woff2") format("woff2"),
      url("/public/fonts/Graphik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Medium"), local("Graphik-Medium"),
      url("/public/fonts/Graphik-Medium.woff2") format("woff2"),
      url("/public/fonts/Graphik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik Super";
    src: local("Graphik Super"), local("Graphik-Super"),
      url("/public/fonts/Graphik-Super.woff2") format("woff2"),
      url("/public/fonts/Graphik-Super.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Semibold"), local("Graphik-Semibold"),
      url("/public/fonts/Graphik-Semibold.woff2") format("woff2"),
      url("/public/fonts/Graphik-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Regular"), local("Graphik-Regular"),
      url("/public/fonts/Graphik-Regular.woff2") format("woff2"),
      url("/public/fonts/Graphik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src: local("Graphik Thin"), local("Graphik-Thin"),
      url("/public/fonts/Graphik-Thin.woff2") format("woff2"),
      url("/public/fonts/Graphik-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Overpass Mono";
    src: local("Overpass Mono Light"), local("OverpassMono-Light"),
      url("/public/fonts/OverpassMono-Light.woff2") format("woff2"),
      url("/public/fonts/OverpassMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
      url("/public/fonts/RobotoCondensed-Bold.woff2") format("woff2"),
      url("/public/fonts/RobotoCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
      url("/public/fonts/RobotoCondensed-Light.woff2") format("woff2"),
      url("/public/fonts/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
      url("/public/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
      url("/public/fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Raleway";
    src: local("Raleway Thin"), local("Raleway-Thin"),
      url("/public/fonts/Raleway-Thin.woff2") format("woff2"),
      url("/public/fonts/Raleway-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
      url("/public/fonts/SourceSansPro-Bold.woff2") format("woff2"),
      url("/public/fonts/SourceSansPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
      url("/public/fonts/SourceSansPro-Light.woff2") format("woff2"),
      url("/public/fonts/SourceSansPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"),
      url("/public/fonts/SourceSansPro-ExtraLight.woff2") format("woff2"),
      url("/public/fonts/SourceSansPro-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
      url("/public/fonts/SourceSansPro-Regular.woff2") format("woff2"),
      url("/public/fonts/SourceSansPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"),
      url("/public/fonts/SourceSansPro-Semibold.woff2") format("woff2"),
      url("/public/fonts/SourceSansPro-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}
